.left-container{
    width: 15%;
    height: 100%;
    float:left;
    background-color:#bcb0a9;
}

.main-container{
    width:70%;
    float:left;
    margin-top: 70px;
    padding-left: 50px;
    height: 80%;
    overflow-y: auto;
}

.left-menu{
    margin-top:50px;
}