<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../components/pd-list/pd-list-item.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html" />
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html" />
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html" />
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="../../../bower_components/iron-icons/image-icons.html" />
<link rel="import" href="../../../bower_components/iron-icons/hardware-icons.html" />
<link rel="import" href="../../components/pd-product-list/pd-product-list.html">
<link rel="import" href="../../components/pd-shopping-cart/pd-shopping-cart.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html" />
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html" />


<link rel="import" href="../../components/pd-flatiron-director/pd-flatiron-director.html" />
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="../../../bower_components/polymer-cookie/polymer-cookie.html" />

<dom-module id="pd-dashboard">
    <link rel="stylesheet" href="../../../app/css/main.css" />
    <link rel="stylesheet" href="../../../app/css/position.css" />
    <link rel="stylesheet" href="../../../app/css/font.css" />
    <link rel="stylesheet" href="../../../app/css/skins/default/colors.css" />
    <link rel="import" href="../../../app/css/skins/default/color-vars.css" />
    <link rel="stylesheet" href="../../../app/css/layout.css" />

    <template>
        <div class="left-container">
            <div class="left-menu">
                <pd-list-item position="left" icon="home" url="#!">Home</pd-list-item>
                <pd-list-item position="left" icon="list" url="#!/products">Products</pd-list-item>
                <pd-list-item position="left" icon="shopping-cart" url="#!/shopping-cart">Shopping Cart</pd-list-item>
            </div>
        </div>

        <div class="main-container">
            <div id="main">
                Main stuff here
            </div>
        </div>

        <pd-flatiron-director route="{{route}}"></pd-flatiron-director>
        <iron-ajax id="ajax" url="" handle-as="document"></iron-ajax>
    </template>
</dom-module>


<script>
    Polymer({
        is: "pd-dashboard",
        properties: {
            route: {
                type: String,
                notify: true,
                observer: 'routeChanged'
            }
        },
        routeChanged: function (newValue, oldValue) {
            var page = newValue.replace("!", "");
            var params = page.split("?")[1];
            var pageName = page.split("?")[0];
            if (pageName == "") { pageName = "home"; }
            this.$.ajax.url = "app/pages/" + pageName + "/" + pageName + ".html?" + params;
            this.$.ajax.generateRequest();
        },
        ready: function () {
            var self = this;
            self.$.ajax.addEventListener('response', function (response) {
                try {
                    self.async(function () {
                        debugger;
                        var links = response.detail.response.head.querySelectorAll("link");
                        for (var i = 0; i <= links.lenght - 1; i++) {
                            if (window.document.head.innerHTML.indexOf(links[i].href.toLowerCase()) != -1) {
                                var l = document.createElement('link');
                                l.rel = 'import';
                                l.href = links[i].href.toLowerCase();
                                document.header.appenChild(l);
                            }
                        }

                        var l = document.createElement('div');
                        l.innerHTML = response.detail.response.body.innerHTML;
                        self.$.main.innerHTML = "";
                        self.$.main.appendChild(l);
                    }, 0);
                }
                catch (e) {

                }
            });
        }
    });

</script>